<div class="text-center">
    <h1>Game: {{gameid}}</h1>

    <h1>{{me.nickname}} vs {{opponent.nickname}}</h1>
</div>

<div class="gametable clearfix">
    <div ng-repeat="row in game track by $index">
        <div class="gamecell col-xs-4" ng-repeat="col in row track by $index" ng-click="move($parent.$index,$index);">
            {{col}}
        </div>
    </div>
</div>
<div style="margin-top: 20px;" class="clearfix">
    <button class="btn btn-block" ng-class="turn ? 'btn-success' : 'btn-warning'" ng-if="winner === null">
        {{ turn ? 'Your turn, make your move' : 'Waiting for opponent\'s move'}}
    </button>

    <button class="btn btn-block" ng-class="getWinnerClass()" ng-if="winner !== null">
        {{getWinner()}}
    </button>

    <br>
    <button class="btn btn-block btn-danger" ng-click="backToLobby();">
        Back to Lobby
    </button>
</div>